
<h4 class="ui dividing header">Preferences
	<% if (locals.preferences_completed == false){ %>
		<span style="margin-left:20px;" class="ui red tag label"> Missing information</span>
	<% }else{ %>
		<span style="margin-left:20px;" class="ui green tag label"> Completed</span>
	<% } %>
</h4>
<%- include('gender_select');  %>
<%- include('show_me_select');  %>


<div style="display:inline-block;">
	<div class="field"> <label>Birthday date</label> </div>
	<div class="ui input">
		<input type="text" id="datepicker" name="birthday"
		<%if (locals.infos && locals.infos.birthday != "") { %>  value="<%= locals.infos.birthday %>"<%}%> >
	</div>
</div>


<script>
  	$( function() {
    	$( "#datepicker" ).datepicker({
      		changeMonth: true,
      		changeYear: true,
			yearRange: '1900:2019'
    	});
  	} );
</script>


<%- include('biographie_input');  %>
<%- include('interests_select');  %>
