<% include elements/header %>

<div class="ui container">

	<h1>Research</h1>
	<%- include('elements/research_panel', {session: session}); %>

	<script>
		$('.ui.dropdown')
			.dropdown()
		;
	</script>
	<p>
	</p>


	<div class="ui special cards centered">
		<% if (locals.users && locals.users[0]){
			locals.users.forEach(function(user) {  %>
			<%- include('elements/profile_card', {user: user}) %>
		<% }); } else { console.log("pas de user"); }%>
	</div>

<div class="ui centered grid" style="margin-top:20px;">
    <div class="center aligned column">
		<div class="ui pagination menu">
		<% if (session.previous) {%>
		<a class="item" href="/research/?page=<%= session.previous %>">Previous</a>
		<% } %>
		<i class="item"><%= session.page %> / <% if (session.totalpage == 0) {%> 1 <% }else{ %><%= session.totalpage %><% } %></i>
		<% if (session.nextpage) {%>
		<a class="item" href="/research/?page=<%= session.nextpage %>">Next</a>
		<% } %>
		</div>
	</div>
</div>

<script>
	$('.special.cards .image').dimmer({
		on: 'hover'
	});

</script>

<% include elements/footer %>
