<% include elements/header.ejs %>
<h1>Sign Up</h1>

<% if (locals.flash && locals.flash.error) { %>
	<div class="ui negative message">
		<%= flash.error %>
	</div>
<% } %>

<% if (locals.flash && locals.flash.success) { %>
	<div class="ui positive message">
		<%= flash.success %>
	</div>
<% } %>

<form method="POST" action="/sign-up" class="ui fluid form">
    <div class="inline field">
        <input type="text" name="lastname" placeholder="Last name" required>
        <%- include('elements/empty.ejs', {empty: session.lnamewrong}); %>
    </div>
    <div class="inline field">
        <input type="text" name="firstname" placeholder="First name" required>
        <%- include('elements/empty.ejs', {empty: session.fnamewrong}); %>
    </div>
    <div class="inline field">
        <input type="email" name="email" placeholder="Email" required>
        <%- include('elements/signup_email.ejs', {mailexist: session.mailexist, empty: session.emailwrong}); %>
    </div>
    <div class="inline field">
        <input type="text" name="login" placeholder="Login" required>
        <%- include('elements/signup_login.ejs', {logexist: session.logexist, empty:session.loginwrong}); %>
    </div>
    <div class="inline field">
        <input type="password" name="passwd" placeholder="Password" required>
        <%- include('elements/passwd.ejs', {empty: session.passwrong}); %>
    </div>
    <input type="submit" class="ui primary button" value="Create">
</form>
<% include elements/footer.ejs %>