<%- include('../elements/header.ejs'); %>
<h1>Chat</h1>
<div class="ui comments">
	<h3 class="ui dividing header">Chat - <%= locals.my_login  %> with <%= locals.the_login_i_chat %></h3>

	<% if (locals.messages){ %>
	<% locals.messages.forEach(function(message) {  %>
		<%- include('../elements/chat_message', {message: message});  %>
	<% });  %>
<% } %>

<div id="new_message">
</div>

<%- include('../elements/chat_send_form.ejs'); %>
</div>


<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.5/socket.io.min.js"></script> -->

<script>
	function addMessage(message_, post, author){
		var div = document.createElement('div');
		div.innerHTML = '<a class="avatar">'+
			'<img src="/assets/avatar/jenny.jpg">'+
			'</a>'+
			'<div class="content">'+
			'<a class="author">' + author + '</a>'+
			'<div class="text">'
			+message_+
			'</div>'+
			'</div>';
		div.className = "comment";
		var myElement = document.getElementById("new_message");
		myElement.append(div);
		document.getElementById("myTextarea").value = "";


		const Url = 'http://localhost:8080/chat/<%= locals.the_login_i_chat %>'
		const data = {
			message_hello: message_
		};
		console.log("le post")
		console.log(post)
		if (post == true){
			$.post(Url, data, function(){
				console.log("message post")
			})
		}
	}

	var $chat = $('#chat');

	$chat.submit(function(e){
		e.preventDefault();
		var x = document.getElementById("myTextarea").value;
		var author = '<%= locals.my_login %>';

		socket.emit('message', {message: x, room: '<%= locals.the_login_i_chat %>'})
		console.log("j'envoi le message");
		console.log(x);
		addMessage(x, true, author);
		//$chat.submit();
	});




</script>

<%- include('../elements/footer.ejs'); %>
