<%- include('../elements/header.ejs') %>
<div class="ui container" style="margin-top: 30px">
	<div class="ui middle aligned center aligned grid">
		<form method="POST" action="/sign-up" class="ui large form">
			<h2 class="ui teal image header">
				<div class="content">
					Sign-up
				</div>
			</h2>
			<div class="ui stacked segment">
				<div class="field">
					<label>Last name</label>
				</div>
				<div class="inline field">
					<input type="text" name="lname" placeholder="Last name" <%- include('../check_field/val.ejs', {val: locals.field['lname']}); %>required>
					<% if (locals.check_field['lname']) { %>
						<%- include('../check_field/empty.ejs', {empty: locals.check_field['lname']}); %>
					<% } %>
				</div>
				<div class="field">
					<label>First name</label>
				</div>
				<div class="inline field">
					<input type="text" name="fname" placeholder="First name" <%- include('../check_field/val.ejs', {val: locals.field['fname']}); %>required>
					<% if (locals.check_field['fname']) { %>
						<%- include('../check_field/empty.ejs', {empty: locals.check_field['fname']}); %>
					<% } %>
				</div>
				<div class="field">
					<label>Email</label>
				</div>
				<div class="inline field">
					<input type="email" name="mail" placeholder="Email" <%- include('../check_field/val.ejs', {val: locals.field['mail']}); %>required>
					<% if (locals.check_field['mail']) { %>
						<%- include('../check_field/check_mail.ejs', {mail: locals.check_field['mail']}); %>
					<% } %>
				</div>
				<div class="field">
					<label>Login</label>
				</div>
				<div class="inline field">
					<input type="text" name="login" placeholder="Login" <%- include('../check_field/val.ejs', {val: locals.field['login']}); %>required>
					<% if (locals.check_field['login']) { %>
						<%- include('../check_field/check_login.ejs', {check_login: locals.check_field['login']}); %>
					<% } %>
				</div>
				<div class="field">
					<label>Password</label>
				</div>
				<div class="inline field">
					<input type="password" name="passwd" placeholder="Password" required>
						<% if (locals.check_field['passwd']) { %>
					<%- include('../check_field/check_passwd.ejs', {check_passwd: locals.check_field['passwd']}); %>
						<% } %>
				</div>
				<div class="field">
					<label>Retype Password</label>
				</div>
				<div class="inline field">
					<input type="password" name="verif" placeholder="Password" required>
				</div>
    			<div class="ui fluid">
    				<input type="submit" class="ui fluid primary button" value="Create">
    			</div>
			</div>
		</form>
	</div>
</div>
<%- include('../elements/footer.ejs') %>
